{%load static %}
<html>

<head>
    <title>Saral Registration</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Eventr - One Page Event Template">
    <meta name="author" content="themecube">

    <!-- viewport settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="{% static 'css/helper.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/salvattore.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.countdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}">
    <link rel="stylesheet" href="{% static 'css/revolution.css' %}">
    <link rel="stylesheet" href="{% static 'css/revolution-extralayers.css' %}">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{%static 'img/favicon.ico' %}">
    <style>
        .cosmic-bg {
            background-image: url(static/img/cosmic-bg.jpg);
            /* height=50px; */
        }

        .registerbutton {
            background-color: #4CAF50;
            /* Green */
            border: none;
            color: white;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
        }
        
        .description{
            font-size: 20px;
            font-style: normal;
        }
        
        
        .col-lg-8{
            border-right: 6px solid green;
        }
        .seperator{
            position: relative;
            left: 40px;
        }
    </style>
</head>

<body>


    <!-- NAVIGATION -->
    <nav id="nav-primary" class="navbar navbar-custom" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index"><img src="{%static 'img/logo.png' %}" alt="logo" height="10%" width="30%"></a>
            </div>

            <div class="collapse navbar-collapse" id="nav">
                <ul class="nav navbar-nav navbar-right uppercase">
                    <li><a data-toggle="elementscroll" href="#info">About</a></li>
                    <li><a data-toggle="elementscroll" href="#program">Program</a></li>
                    <li><a data-toggle="elementscroll" href="#venue">Venue</a></li>
                    <li><a data-toggle="elementscroll" href="#register">Register</a></li>
                </ul>
            </div>

        </div>
    </nav>

    <!-- INFO -->
    <section id="info">
        <div class="container">
            <div class="">
                <div class="">
                    <div>
                        <div class="cosmic-bg"><br>
                            <center>
                                <h1 style="color: aliceblue">Poster Design</h1>
                            </center><br>
                        </div><br><br><p class="description">To design a poster on the given topic by the juries using Adobe Photoshop. The system and the software will be provided.</p>
                        <center><br><br></center>
                      <div class="col-lg-8"><h2>Rules</h2>
                        <ul>
                            <li>Rule1 : Lorem ipsum kusfhfdkduhkufjksfhkfkfkgjbdfbjdfbv fdibif ivhidfuhiu sufihiusf hiugius fhiusdhf 8i gsiufh9usdfhuiosdhfuoisdfhiushf iufd</li>
                            <li>Rule2 : Lorem ipsum kusfhfdkduhkufjksfhkfkfkgjbdfbjdfbv fdibif ivhidfuhiu sufihiusf hiugius fhiusdhf 8i gsiufh9usdfhuiosdhfuoisdfhiushf iufd</li>
                            <li>Rule3 : Lorem ipsum kusfhfdkduhkufjksfhkfkfkgjbdfbjdfbv fdibif ivhidfuhiu sufihiusf hiugius fhiusdhf 8i gsiufh9usdfhuiosdhfuoisdfhiushf iufd</li>
                        </ul>
                    </div><br><br><br><br><br><br><br>
                    <a href="register">
                        <div class="seperator"><button class="registerbutton">Register</button></div>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

</html>
